<%= form_with(model: test_option, local: true) do |form| %>
  <% if test_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_option.errors.count, "error") %> prohibited this test_option from being saved:</h2>

      <ul>
        <% test_option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
