<%= form_with(model: green_area, local: true) do |form| %>
  <% if green_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(green_area.errors.count, "error") %> prohibited this green_area from being saved:</h2>

      <ul>
        <% green_area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
