<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Test</h1>

  hello outside of for loop. does this show?
  <% @test_questions.each do |test_question| %>
  hello this is a test question
  <%end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
